<!--
  Generated template for the PagosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Seguimiento de Pagos</ion-title>
    <ion-buttons end>
        <button ion-button (click)="cerrarModal()">Cerrar</button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >

    <ion-card *ngFor="let item of pagos" >
        <ion-item>
            <ion-avatar item-start>
              <img src="../../assets/img/ic_logo.png">
            </ion-avatar>
            <h2>{{item.nombre_titular_evento}}</h2>
            <p>{{item.nombre_evento}}</p>
          </ion-item>

          <div *ngIf="item.saldo != 0; else pagado" class="cardnopadaga">
          <ion-card-content>

              
              <h1 class="h1Content">Saldo Pendiente:    {{item.saldo}}</h1>
              <p>Pagado:     {{item.anticipo}}</p>
              <p>Costo Total:    {{item.costo_total}}</p>
              

            </ion-card-content>
          
            <ion-row>
              <ion-col>
                <ion-item icon-start clear small>
                  <p>Fecha del Evento</p>
                  <p class="h1Content">{{item.fecha_evento}}</p>
                </ion-item>
              </ion-col>
              <ion-col  class="colElim">
                <button (click)="abono(item.id_evento)" ion-button  icon-start color="primary"  round>
                  <ion-icon name="ios-close"></ion-icon>
                  Abono
                </button>
              </ion-col>
             
            </ion-row>

          </div>

          <ng-template #pagado class="cardpadaga">
              
              <ion-card-content>

              
                  <h1 class="h1Content">Evento Pagado</h1>
                  
    
                </ion-card-content>
              
                <ion-row>
                  <ion-col>
                    <ion-item icon-start clear small>
                      <p>Fecha del Evento</p>
                      <p class="h1Content">{{item.fecha_evento}}</p>
                    </ion-item>
                  </ion-col>
                 
                 
                </ion-row>


          </ng-template>
         </ion-card>
  

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
      <ion-searchbar placeholder="Buscar por Nombre Titular" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-footer>
