page-seguimientopagodos {
    .h1Content{

        color: #488aff;
    }

    .hdContent{

        color: #f53d3d;
        margin-left: 2%;
    }

    .hddContent{

        color: #f53d3d;
        margin-left: 16%; 
    }

    .colElim{
        
        right: -20%;
    }

    .center {
        text-align: center;
        margin: auto;
        width: auto;
       
      }
}
