<!--
  Generated template for the DetalleventodiaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.




<ion-header class="spacerw">
    

    <ion-toolbar>
  <ion-navbar color="primary">
    <ion-title>Detalles</ion-title>
  </ion-navbar>
  <button ion-button (click)="actualizar()">
      <ion-icon icon-only name="refresh"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>


-->


<ion-header>
    <div class="spacerw" style="height: 8px;"></div>
    <ion-navbar color="primary">
      
      <ion-title>Detalles</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="actualizar()">
          <ion-icon name="refresh"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>





<ion-content class="cardsdetalles">

  <ion-list *ngFor="let evento of evento">
        
    <ion-card (click)="presentAlert(evento.observaciones)">
      

          <ion-card-content>
            <ion-card-title>
              {{evento.nombre_titular_evento}}
            </ion-card-title>
            <p>
             Fecha: {{evento.fecha_envio_evento}}
            </p>
            <p>
                Hora: {{evento.hora_envio_evento}}
               </p>
            <p>
              Dirección: {{evento.direccion_evento}}
             </p>
          </ion-card-content>
        
      </ion-card>
          
          <ion-grid>
              <ion-row >
                  




                  <ion-col size="auto">
                      <div *ngIf="!evento.observaciones; else leido">
                          <ion-chip (click)="presentAlert(evento.observaciones)">
                              <ion-icon  name="mail"></ion-icon>
                            </ion-chip>
                        </div>
                        <ng-template #leido >
                            <ion-chip (click)="presentAlert(evento.observaciones)">
                                <ion-icon color="naranja" name="mail"></ion-icon>
                              </ion-chip>
                        </ng-template>
                    
                          </ion-col>





                <ion-col size="auto">
            <div *ngIf="evento.entregado == 0; else entregado">
                <ion-chip>
                    <ion-icon  name="sad"></ion-icon>
                    <ion-label >No entregado</ion-label>
                  </ion-chip>
              </div>
              <ng-template #entregado >
                  <ion-chip color="secondary">
                     <ion-label >Entregado</ion-label>
                      <ion-icon name="bus"></ion-icon>
                    </ion-chip>  
              </ng-template>
          
                </ion-col>
                <ion-col size="auto">
                  
                    <div *ngIf="evento.recolectado == 0; else recolectado">
                        <ion-chip>
                            <ion-icon  name="sad"></ion-icon>
                            <ion-label >No recolectado</ion-label>
                          </ion-chip>
                      </div>
                      <ng-template #recolectado >
                          <ion-chip color="secondary">
                              <ion-label >Recolectado</ion-label>
                              <ion-icon name="bus"></ion-icon>
                            </ion-chip>  
                      </ng-template>
                </ion-col>
              </ion-row>
            </ion-grid>


</ion-list>

    <ion-list>
        <div class="spacer" style="height: 4px;"></div> 
              <ion-item-sliding #slidingItem *ngFor="let item of items">
        <ion-item>
          <h2>{{item.nombre_mob}}</h2>
          <p>{{item.ocupados}} </p>
          
        </ion-item>
        <ion-item-options side="right">
          
          <button ion-button color="danger" (click)="borrar(id_evento,item.id_fecha, item.ocupados, item.costo_mob)">
              <ion-icon name="trash">
            Eliminar 
              </ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <div class="spacer" style="height: 2px;"></div> 
      
      
     </ion-list>
     <ion-fab top right>
      <button ion-fab mini color="secondary"><ion-icon name="construct"></ion-icon></button>
      <ion-fab-list side="left">
        <button ion-fab color ="third" (click)="addmob()"><ion-icon name="add"></ion-icon></button>
        <button ion-fab color ="third" (click)="edit()"><ion-icon name="brush"></ion-icon></button>
        <button ion-fab color="dinero" (click)="abono()"> <ion-icon name="cash"></ion-icon></button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <button ion-fab color ="danger" (click)="eliminarEvento()"><ion-icon name="trash"></ion-icon></button>
      </ion-fab-list>
      
    </ion-fab>


   
      
    
</ion-content>

